<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Condé Nast Traveller.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B12761E2D8A8FFA00E7F2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B1276372D8A8FFD00E7F2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B1276412D8A8FFD00E7F2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
